html {
  font-size: 24px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: burlywood;
}

#myContainer {
    width: 250px;
    height: 250px;
    position: relative;
    background: blue;
}

#myAnimation {
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: black;
}

